<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Commerce365\CustomerPrice\Api\CustomerPriceInterface"
                type="Commerce365\CustomerPrice\Model\CustomerPrice"/>
    <preference for="Commerce365\CustomerPrice\Service\Mapper\ResponseToDatabaseMapperInterface"
                type="Commerce365\CustomerPrice\Service\Mapper\ResponseToDatabaseMapper"/>
    <preference for="Magento\ConfigurableProduct\Pricing\Render\TierPriceBox"
                type="Commerce365\CustomerPrice\Pricing\Render\TierPriceBox"/>
    <preference for="Magento\Catalog\Block\Product\View" type="Commerce365\CustomerPrice\Block\Product\View"/>

    <virtualType name="Commerce365CustomerPriceSyncHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/Commerce365CustomerPriceSync.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Commerce365CustomerPriceSyncLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Commerce365CustomerPriceSyncHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Commerce365\CustomerPrice\Model\CustomerPrice">
        <arguments>
            <argument name="logger" xsi:type="object">Commerce365CustomerPriceSyncLogger</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Pricing\Render\Amount">
        <plugin name="commerce365_list_price_check_ajax_call"
                type="Commerce365\CustomerPrice\Plugin\ListCheckAjaxPriceCall"
                sortOrder="20"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="commerce365_pricing_product" type="Commerce365\CustomerPrice\Plugin\ProductPrice" sortOrder="1" />
    </type>
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="commerce365_add_customer_token"
                type="Commerce365\CustomerPrice\Plugin\AddCustomerToken"/>
    </type>
    <virtualType name="Commerce365CustomerPriceModuleVersion" type="Commerce365\Core\Service\Module\Version">
        <arguments>
            <argument name="packageName" xsi:type="string">commerce365/module-customer-price</argument>
        </arguments>
    </virtualType>
    <virtualType name="Commerce365CustomerPriceModuleVersionBlock" type="Commerce365\Core\Block\Adminhtml\Version">
        <arguments>
            <argument name="version" xsi:type="object">Commerce365CustomerPriceModuleVersion</argument>
        </arguments>
    </virtualType>
    <type name="Commerce365\CustomerPrice\Service\GetProductResponseData">
        <arguments>
            <argument xsi:type="array" name="priceInfoProviders">
                <item xsi:type="object" name="type">Commerce365\CustomerPrice\Service\PriceInfoProvider\ProductTypeProvider</item>
                <item xsi:type="object" name="priceHtml">Commerce365\CustomerPrice\Service\PriceInfoProvider\PriceHtmlProvider</item>
                <item xsi:type="object" name="tierPriceHtml">Commerce365\CustomerPrice\Service\PriceInfoProvider\TierPriceHtmlProvider</item>
                <item xsi:type="object" name="priceConfig">Commerce365\CustomerPrice\Service\PriceInfoProvider\PriceConfigProvider</item>
                <item xsi:type="object" name="configurableConfig">Commerce365\CustomerPrice\Service\PriceInfoProvider\ConfigurableConfigProvider</item>
                <item xsi:type="object" name="tierPricesPerUom">Commerce365\CustomerPrice\Service\PriceInfoProvider\TierPricesPerUomProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Commerce365\CustomerPrice\Service\Additional\AdditionalDataBuilder">
        <arguments>
            <argument xsi:type="array" name="providers">
                <item xsi:type="object" name="pricePerUOM">Commerce365\CustomerPrice\Service\Additional\PricePerUom\DataProvider</item>
                <item xsi:type="object" name="UOM">Commerce365\CustomerPrice\Service\Additional\PricePerUom\UomDataProvider</item>
            </argument>
        </arguments>
    </type>
</config>
