<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Pricing\Price\TierPrice">
        <plugin name="commerce365_frontend_pricing_tierprice" type="Commerce365\CustomerPrice\Plugin\Frontend\TierPricePlugin" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="commerce365_frontend_check_price_ajax_load"
                type="Commerce365\CustomerPrice\Plugin\Frontend\CheckPriceAjaxLoad"
                sortOrder="20"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="commerce365_frontend_pricing_product" type="Commerce365\CustomerPrice\Plugin\Frontend\ProductPlugin" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\Product\Type\Price">
        <plugin name="commerce365_simple_price_plugin"
                type="Commerce365\CustomerPrice\Plugin\Frontend\SimplePricePlugin"
                sortOrder="10"/>
    </type>
    <type name="Magento\Framework\Pricing\Render\Amount">
        <plugin name="commerce365_hide_price_amount"
                type="Commerce365\CustomerPrice\Plugin\Frontend\HidePriceAmount"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="commerce365_preload_prices_to_cache"
                type="Commerce365\CustomerPrice\Plugin\Frontend\ProductListPricesPreloadToCache"/>
    </type>
</config>
