<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="commerce365config_general">
            <group id="b2b_pricing" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>B2B Pricing</label>
                <field id="ajax_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>B2B Pricing Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="db_caching_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>DB Caching</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This type of caching works only with Ajax Price Loading. Only disable caching in development or test systems. In production systems this should be enabled]]></comment>
                    <depends>
                        <field id="ajax_enabled">1</field>
                    </depends>
                </field>
                <field id="cache_hours" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cache Hours</label>
                    <comment><![CDATA[Enter number of hours for DB Caching]]></comment>
                    <validate>validate-greater-than-zero validate-number required-entry</validate>
                    <depends>
                        <field id="ajax_enabled">1</field>
                        <field id="db_caching_enabled">1</field>
                    </depends>
                </field>
                <field id="flush_cache" translate="label comment" type="button" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Commerce365\CustomerPrice\Block\Adminhtml\System\Config\Buttons\FlushCache</frontend_model>
                    <depends>
                        <field id="ajax_enabled">1</field>
                        <field id="db_caching_enabled">1</field>
                    </depends>
                </field>
                <field id="hide_prices_guest" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Prices for Guest Users</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="ajax_enabled">1</field>
                    </depends>
                </field>
                <field id="use_special_price" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Special Price</label>
                    <comment>Customer Price cache will be cleaned after you change this setting</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_priceperuom" translate="label" type="select" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Price Per UOM   </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_priceperuom_tier" translate="label" type="select" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Price Per UOM for tier prices</label>
                    <comment>Hyva Only</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_priceperuom">1</field>
                    </depends>
                </field>
                <field id="use_minimal_qty" translate="label" type="select" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Minimal Salable Qty</label>
                    <comment>If Yes it will show tier price by default for minimal salable quantity</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="configurable_preselect" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preselect first swatch option on Product Page</label>
                    <comment>Hyva Only</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="version" >
                <group id="customer_price_version" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <frontend_model>Commerce365CustomerPriceModuleVersionBlock</frontend_model>
                    <label><![CDATA[Commerce365 Customer Price Version]]></label>
                </group>
            </group>
        </section>
    </system>
</config>
